version: "3.8"

services:
    postgres:
        image: postgres:17-alpine
        environment:
            POSTGRES_USER: orm
            POSTGRES_PASSWORD: password
            POSTGRES_DB: orm
        ports:
            - "54321:5432"
        volumes:
            - postgres_data:/var/lib/postgresql/data

volumes:
    postgres_data:
